@import url(/node_modules/@fontsource/nunito/400.css);
@import url(/node_modules/@fontsource/nunito/800.css);

*,
:before,
:after {
  box-sizing: border-box;
}

:root {
  --color-corporative: #ed6436;
  --font-color: #181818;
  --padding-vertical: 30px;
  --padding-horizontal: 72px;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Nunito", sans-serif;
}

h1 {
  text-transform: uppercase;
  color: var(--color-corporative);
  font-size: 1.875rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.top-section__introduction {
  font-weight: 800;
  font-size: 5.625rem;
}

.top-section__view {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 85px;
  width: 205px;
  border-radius: 0 40px 40px;

  background-color: var(--color-corporative);

  color: #fff;
  text-transform: uppercase;
  font-size: 1.625rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.top-section__view--active:hover {
  background-color: #fff;
  color: var(--color-corporative);
  border-color: var(--color-corporative);
  border: solid 3px;
}

.main-section {
  padding-top: 20px;
  height: 525px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-section__cards :nth-child(1) {
  min-height: 425px;
  width: 275px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: transparent;
}

.first-card {
  background-image: url(/src/img/01.jpg);
  border-radius: 20px
}

.second-card {
  background-image: url(/src/img/02.jpg);
  border-radius: 20px;
}

.third-card {
  background-image: url(/src/img/03.jpg);
  border-radius: 20px;
}

.main-section__cards :nth-child(1):hover {
  color: #fff;
  text-shadow: 1px 0 10px #181818;
}
